@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  font-size:1vw; /* This will set the base font size based on the viewport width */
}

.nav-section {
  width: 100%;
  height:25rem;
  font-family: "Roboto", serif;
  font-style: normal;
  margin-top: 0; /* Ensure no default margins */
  /*background-image: url('./nav-bg10.jpg');*/
  background: rgb(17,31,70);
  background: linear-gradient(180deg, rgb(17, 31, 70) 10%, rgba(5,92,180,1) 32%);
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-description{
  font-family: "Ubuntu", sans-serif;
  color:azure;
  font-size:1.5rem;
  padding:1rem;
  text-align: center;
  border:0.1rem solid #ececec25;
  border-radius:0.2rem;
  position: absolute;
  top:12rem;
}

.image-left-home img{
  width:15rem;
  height: 10rem;
  position: absolute;
  left: 6rem;
  bottom:2rem;
}

.image-right-home img{
  width:18rem;
  height: 13rem;
  position: absolute;
  right: 6rem;
  bottom:2rem;  
}

.nav-header{
  border:0.1rem solid #ececec25;
  width:80%;
  padding:0.4rem 1rem 0.5rem 1rem;
  border-radius:0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:0.2rem;
}

.brand{
  color:white;
  font-family: "Ubuntu", sans-serif;
  font-size:2.5rem;
  font-weight:500;
  /*border:0.1rem solid white;*/
  border-radius:0.2rem;
  width:fit-content;
  padding:0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.navigation{
  /*border:0.1rem solid white;*/
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5rem;
}
.post-btn{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:1rem;
  width:11rem;
  height:2.2rem; 
  background-color:#055CB4;
  color:white;
  border-radius:0.2rem;
  border:0.1rem solid rgb(210, 210, 210);
  cursor: pointer;
  font-size:1rem;
  padding: 0.55rem; 
  transition: all 0.3s ease; 
}

.free-label{
  font-family: "Ubuntu", sans-serif;
  border:0.1rem solid azure;
  color:	#5502a8;
  border-radius:0.1rem;
  padding:0rem 0.1rem 0rem 0.1rem;
  font-size:0.8rem;
  font-weight:bolder;
  background-color:white;
}
.user{
  border:0.1rem solid azure;
  border-radius:50%;
  padding:0.5rem;
  background-color:#055CB4;
  height:2.4rem;
  width:2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*------------------------------------------------------Search-section-------------------------------------------------------------*/

.search-section{
  border:0.1rem solid #dddddd;
  border-radius:0.4rem;
  position: absolute;
  bottom:-4rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width:40%;
  height:7rem;
  padding:0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.search-navigation{
  height:2.5rem;
  /*border:0.1rem solid black;*/
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding:0.5rem;
  font-size: 1rem;
  font-weight:500;
  color:#515151;
}

.search-nav{
  cursor: pointer;
}

.search-box{
  height:2.5rem;
  border:0.1rem solid #eeeded;
  border-radius:0.2rem;
  padding: 0.5rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar{
  width:80%;
  height:100%;
  border:none;
  outline: none;
}

.search-btn{
  width:6rem;
  height:2rem;
  border:0.1rem solid #1484f4;
  border-radius:0.2rem;
  color:white;
  background-color:#1484f4;
  font-size: 1rem;
  font-weight:500;
  cursor: pointer;
}

.autocomplete-section{
  border-radius:0.5rem;
  background-color: white;
  width:75%;
  z-index:1;
  margin-left:1rem;
  padding:0.5rem 0rem 0.5rem 0rem;
  border:0.1rem solid #eeeded;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.place-selection{
  display:flex;
  flex-direction: column;
}
.place-option{
  padding:0.2rem 1rem 0.2rem 1rem;
  min-height:1.5rem;
  font-size:1rem;
}

.place-option:hover{
  background-color:#e9f5ff;
}

.btnactive{
  color: #055CB4;
  border-bottom:0.2rem solid #055CB4;
  font-size:1.1rem;
}
