@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Set the base font size using vw for responsiveness */
html {
  font-size:1vw; /* This will set the base font size based on the viewport width */
}

.postPropery-container{
  width:100%;
  /*border:0.1rem solid blue;*/
}

.postProperty-section{
  font-family: "Roboto", serif;
  font-style: normal;
  /*border:0.1rem solid red;*/
  display:flex;
  justify-content: space-between;
  height:auto;
  margin:8rem 5rem 5rem 5rem; 
}

.our-ad{
  width:80%;
  font-family: "Ubuntu", sans-serif;
  padding:2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:2rem;
  border:0.1rem solid #055CB4;
  border-radius:0.3rem;
  height:45rem;
  background-color: #f5fbff;
  font-size:1rem;
}

.steps-section{
  width:100%;
}

.our-ad h3{
  font-size:2rem;
  font-weight: 500;
}

.our-ad h2{
  font-size:1.5rem;
  font-weight: 500;
}

.our-ad ul{
  font-size:1rem;
  font-weight: 600;
  color: #055CB4;
}


.house-img{
  height:20rem;
  width:25rem;
}
/*------------------------------------------------------ListingStep_1---------------------------------------------------------------------------*/

.propertyBasics-section{
  font-family: "Roboto", serif;
  height:100%;
  /*border:0.1rem solid black;*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:1rem;
}

.propertyBasics-section h3{
  color:#055CB4;
  font-size:x-large;
  font-weight: 700;
}


.form-details{
  border:0.1rem solid #c2c0c0;
  border-radius:0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width:80%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  padding:2rem 1.5rem 2rem 1.5rem;
  font-size:1rem;
}

.dropdowns{
  width:20rem;
  height:2rem;
  outline:none;
  border:0.1rem solid #055CB4;
  border-radius:0.2rem;
  color:#055CB4;
  font-size:medium;
  font-size:1rem;
  font-weight: 600;
}

label{
  color:#055CB4;
  font-size:1rem;
  font-weight: 600;
}

.address-section label{
  color:#055CB4;
}

.address-section input{
  outline:none;
  border:none;
  border-bottom:0.15rem solid #055CB4;
  width:20rem;
  height:2rem;
  font-size:1rem;
}

.property-details-section label{
  color:#055CB4;
}

.property-details-section input {
  outline:none;
  border:none;
  border-bottom:0.15rem solid #055CB4;
  width:20rem;
  height:2rem;
  font-size:1rem;
}

.next-btn-section{
  width:100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top:1rem;
  font-size:1rem;
}

.next-btn{
  width:5rem;
  height:2rem;
  background-color: #055CB4;
  color: white;
  border:0.1rem solid #055CB4;
  border-radius:0.2rem;
  font-size:1rem;
}

/*----------------------------------------------------ListingStep-2--------------------------------------------------------*/

.propertyFeatures-section{
  font-family: "Roboto", serif;
  height:100%;
  /*border:0.1rem solid black;*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-size:1rem;
}

.propertyFeatures-section h3{
  color:#055CB4;
  font-size:2rem;
  font-weight: 700;
}

.form-details{
  border:0.1rem solid #c2c0c0;
  border-radius:0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width:80%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  padding:2rem 1.5rem 2rem 1.5rem;
  font-size:1rem;
}

.amenities-section{
  /*border:0.1rem solid red;*/
  width:30rem;
  font-size:1rem;
}

.form-details h4{
  color:#055CB4;
  padding:0.5rem 0rem 0rem 0.5rem;
}

.amenity-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size:1rem;
}

.amenity{
  padding:0.5rem;
  /*border:0.1rem solid green;*/
  display: flex;
  gap:0.5rem;
  padding-left:2rem;
  font-size:1rem;
}

.amenity-label label{
  color:#464646;
  font-size:1rem;
}

.amenity-input input{
  width:1rem;
  height:1rem;
}

.connectivity-section{
  /*border:0.1rem solid red;*/
  width:30rem;
  font-size:1rem;
}

.connectivity-box{
  /*border:0.1rem solid blue;*/
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:1rem;
  font-size:1rem;
  padding-left:1rem;
}

.connectivity-item input{
  outline:none;
  border:0.1rem solid #055CB4;
  border-radius:0.2rem;
}

.number-input{
  width:20rem;
  font-size:1rem;
}

.number-input input{
  width:20rem;
  outline:none;
  border:none;
  border-bottom:0.15rem solid #055CB4 ;
  font-size:1rem;
}

.description{
  width:20rem;
  font-size:1rem;
}

.description textarea {
  width:20rem;
  min-height:2rem;
  max-height:10rem;
  font-size:1rem;
}

.btn-section{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
  padding:0rem 1rem 0rem 1rem;
  font-size:1rem;
}

.btn-section .prev-btn{
  width:5rem;
  height:2rem;
  background-color:#e9f1fb;
  color:#055CB4;
  border:0.1rem solid #055CB4;
  border-radius:0.2rem;
  font-size:1rem;
}

.btn-section .next-btn{
  width:5rem;
  height:2rem;
  background-color: #055CB4;
  color: white;
  border:0.1rem solid #055CB4;
  border-radius:0.2rem;
  font-size:1rem;
}

/*----------------------------------------------------Listing-step-3-------------------------------------------------------*/

.propertyFeatures-section{
  font-family: "Roboto", serif;
  height:100%;
  /*border:0.1rem solid black;*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-size:1rem;
}

.form-details{
  border:0.1rem solid #c2c0c0;
  border-radius:0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width:80%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  padding:2rem 1.5rem 2rem 1.5rem;
  font-size:1rem;
}


.listers-details input{
  width:20rem;
  border:none;
  border-bottom:0.15rem solid #055CB4 ;
  outline:none;
  font-size: 1rem;
}

.photos-upload input{
  width:20rem;
  border:none;
  border-bottom:0.15rem solid #055CB4 ;
  outline:none;
  font-size: 1rem;
}