@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Set the base font size using vw for responsiveness */
html {
  font-size:1vw; /* This will set the base font size based on the viewport width */
}


.user-activity-container{
  font-family: "Roboto", serif;
  font-style: normal;
  width:25rem;
  height:100vh;
  z-index:101;
  position:fixed;
  top:0;
  right:0;
  background-color:#f6fbff;
  /*border:0.1rem solid red;*/
  font-size: 1rem;
}

.close-btn-section{
  /*border:0.1rem solid red;*/
  margin-bottom: 1rem;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}

.close-btn-section h2{
  font-family: "Ubuntu", sans-serif;
  color:#055CB4;
  font-weight:700;
}

.close-btn{
  width:2rem;
  height:2rem;
  cursor: pointer;
  position: absolute;
  top:0;
  left: 0;
}

.user-activity-section{
  width:100%;
  height:100%;
  padding:1rem;
}

.user-info-section{
  /*border:0.1rem solid #055CB4;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color:white;
  border-radius: 0.3rem;
  padding:1rem;
  margin-bottom:1rem;
}

.user-info-section span{
  font-size:0.8rem;
  font-weight:600;
}

.my-activity-container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 0.3rem;
  background-color:white;
  padding:1rem;
}

.my-activity-container h3{
  font-size: 1.2rem;
}

.my-activity-btn-section{
  margin-top:1rem;
  display: flex;
  gap:1rem;
  /*border:0.1rem solid #055CB4;*/
  padding:0rem 1rem 0rem 1rem;
}

.activity-btn{
  /*border:0.1rem solid #055CB4;*/
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0.5rem;
  text-align: center;
  font-size:0.8rem;
}

.activity-properties-container{
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius:0.3rem;
  background-color: white;
  margin-top: 1rem;
  padding:1rem;
}

.log-btn-section{
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius:0.3rem;
  background-color: white;
  margin-top: 1rem;
  padding:1rem;
  display: flex;
  gap:2rem;
  font-size:1rem;
  font-weight: 600;
}

.log-btn-section:hover{
  cursor: pointer;
  border:0.1rem solid #055CB4;
}