@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Set the base font size using vw for responsiveness */
html {
  font-size:1vw; /* This will set the base font size based on the viewport width */
}

*{
  font-family: "Roboto", serif;
  font-style: normal;
}

body { 
  margin: 0; 
}

/* LANDING PAGE */

.landing-section{
  width:100%;
}
.main-section{
  height:auto;
  width:100%;
}

/* OTP-BASED-AUTHENTICATION */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #055CB4;
  border-radius:2px;
  max-height:40px;
  width:150px;
  background-color: #055CB4;
  color: white;
  font-weight: 500;
}
.LoginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 500;
}

.LoginBox {
  border:2px solid #055CB4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:25%;
  width:25%;
  height:65%;
  border-radius: 8px;
  position: relative;
}

.LoginBox p{
  margin-bottom:60px;
  text-decoration: underline;
  text-decoration-color:#a5a5a5 ;
  font-size: smaller;
  /*color: rgb(70, 70, 70);*/
  color: #2e6397;
}

.LoginBox form{
  /*border: 1px solid blue;*/
  width:80%;
  position: relative;
}

.phoneNumbersection{
  width: 100%;
}

.sendotpbtn{
  position: absolute;
  right:0;
  color:#04c380;
  font-size: smaller;
  margin-top:2px;
  cursor: pointer;
}

.otpsection {
  /*border: 1px solid red;*/
  width: 100%; /* Full width for the form sections */
  margin-top:35px;
  margin-bottom:35px; /* Add spacing between sections */
}

.phoneNumbersection input,
.otpsection input{
  border:none;
  border-bottom:2px solid #055CB4;
  outline: none;
  width:100%;
  height: 30px;
}

.phoneNumbersection label,
.otpsection label{
  color: #055CB4;
  font-size:x-small;
  font-weight: 100;
}

.no-flag-phone-input {
  --PhoneInputCountryFlag-height: 0;
  --PhoneInputCountryFlag-borderColor: transparent;
}

.submitbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35px;
  width:100%;
  margin-top:60px;
}

.submitbutton button{
  height:100%;
  background-color: #04c380;
  color:white;
  width:100%;
  border: #00E091;
  border-radius:2px;
  font-size:medium;
  cursor: pointer;
}

/* Email/Password-Authentication */

.signup-section{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-weight: 500;
  font-size: 1rem;
}

.signup-box{
  /*border:2px solid #2e6397;*/
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:25%;
  height:38rem;
  background-color: white;
  font-size: 1rem;
  position: relative;
}

.signup-header{
  display: flex;
  justify-content: center;
  align-items: center;
  border:0.1rem solid #055CB4;
  border-radius:0.1rem;
  max-height:3rem;
  width:12rem;
  background-color: #055CB4;
  color: white;
  margin-top:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.signup-box p{
  margin-bottom:3rem;
  text-decoration: underline;
  text-decoration-color:#a5a5a5 ;
  font-size: smaller;
  /*color: rgb(70, 70, 70);*/
  color: #2e6397;
}

.signup-box form{
  width:80%;
  margin-bottom:40px;
}


.sup-attri{
  /*border:1px solid red;*/
  margin-bottom:2rem;
}

.sup-attri label{
  color: #055CB4;
  font-size:x-small;
  font-weight:500;
}

.sup-attri input{
  border:none;
  outline: none;
  width:100%;
  border-bottom:0.15rem solid #055CB4;
  height:1.5rem;
}

.submit-button{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top:2rem;
}

.submit-button button{
  width:100%;
  height:2rem;
  border:1px solid rgb(14, 199, 64);
  border-radius: 2px;
  background-color: #04c380;
  color:white;
  cursor: pointer;
  font-size:1rem;
  margin-top:1rem;
}

/* SIGNIN SECTION */

.signin-section{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}

.signin-header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #055CB4;
  border-radius:2px;
  max-height:3rem;
  width:12rem;
  background-color: #0F52BA;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-box{
  width:25%;
  height:35rem;
  /*border:0.15rem solid #055CB4;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top:0.5rem;
  position: relative;
}

.signin-box form{
  width:80%;
}

.signin-box p{
  margin-bottom:3rem;
  text-decoration: underline;
  text-decoration-color:#a5a5a5 ;
  font-size: smaller;
  /*color: rgb(70, 70, 70);*/
  color: #2e6397;
}

.or-line{
  padding:1.5rem;
  color:#2e6397;
}

.sin-attri{
  width:100%;
  margin-bottom:2rem;
}

.sin-attri label{
  color: #055CB4;
  font-size:x-small;
  font-weight:500;
}

.sin-attri input{
  border:none;
  outline: none;
  width:100%;
  border-bottom:0.15rem solid #055CB4;
  height:2rem;
}

.submit-button{
  margin-top:1rem;
  font-size:1rem;
}

.google-login-btn{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color:#1a73e8;
  color:white;
  width:80%;
  height:2rem;
  border:0.1rem solid #1a73e8;
  border-radius:0.15rem;
  position: relative;
  cursor: pointer;
  font-size:1rem;
}

.gicon{
  position: absolute;
  left:3rem;
}

.sign-up-link{
  padding-top:1rem;
}
.sign-up-link span{
  color:#ec2a2abd;
}
.sign-up-link b{
  color:#055CB4;
  cursor: pointer;
}

.close-auth-btn{
  z-index:10;
  position:absolute;
  top:0.7rem;
  right:0.7rem;
  cursor: pointer;
}

/*-----------------------------------------------User-Page-------------------------------------------------------------------------*/

.user-page{
  width:100%;
  height:100vh;
  background-color: #35353530;
  backdrop-filter: blur(10px);
  z-index:10005;
  position: fixed;
  top:0;
  right:0;
}

/*------------------------------------------ Authentication-page -----------------------------------------------------------------*/

.auth-container{
  width:100%;
  height:100vh;
  background-color: #35353530;
  backdrop-filter: blur(10px);
  z-index:10007;
  position: fixed;
  top:0;
  left:0;
}